*{
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

.navbar{
    display: flex;
    justify-content: center;
    padding:  0;
}

nav{
    position: fixed;
    z-index: 5;
    background-color: #1d1d1d;
    color: white;
    font-weight: 500;
    display: flex;
    width: auto;
    height: 50px;
    border-radius: 0 0 25px 25px;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(206, 206, 206);
    border-top: none;
    padding: 10px 10px;
    cursor: none;
    // box-shadow: 0 0 10px 1px rgb(206, 206, 206);

    @media (max-width: 599px) {
        width: 90vw;
        height: 50px;
        padding: 8px 8px;

    }

    .a{
        color: white;
        font-weight: 500;
        text-decoration: none;
        border-bottom: 2px solid #1d1d1d;
        padding: 5px 10px;
        // cursor: pointer;
        cursor: none;
        @media (max-width: 599px) {
            font-size: medium;
            padding: 5px;
        }
    }

    .active{
        color: #1d1d1d;
        background-color: #f3f3f3;
        border-radius: 25px;
        font-weight: 600;
    }
    .nav-item .a:hover{
        // border-bottom: 2px solid #f3f3f3;
        color: #1d1d1d;
        background-color: #f3f3f3;
        border-radius: 25px;
        font-weight: 600;

    }
}



